################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/.vs/DesignPatterns
/DesignPatterns/RepositoryPattern/obj
/DesignPatterns/UnitofWork/obj
/DesignPatterns/.vs/ProjectEvaluation
/DesignPatterns/UnitofWork/bin/Debug/net6.0
